<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApplicationInsights-CPP" version="1.0.0-Beta" targetFramework="native" />
  <package id="Microsoft.glTF.CPP" version="1.6.3.1" targetFramework="native" />
  <package id="Microsoft.VisualStudio.Azure.Containers.Tools.Targets" version="1.9.5" targetFramework="native" />
  <package id="Microsoft.VisualStudio.Azure.Kubernetes.Tools.Targets" version="1.0.0" targetFramework="native" />
  <package id="rapidjson.temprelease" version="0.0.2.20" targetFramework="native" />
</packages>